# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist
server/public/*.js
server/public/*.html

# database
db/
.mongodb

# misc
.DS_Store
.env.*local
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
debug.log
.nyc_output
.vscode

# acceptance
videos/
screenshots/
downloads/

# models
.venv/
private/

# python
__pycache__/