# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist

# misc
.DS_Store
.env.*local
.idea
archive/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache
debug.log
.nyc_output
.vscode

# acceptance
videos/
screenshots/
downloads/

# models
.venv/
*.bin
models/
**/raw/*.txt
!**/contributed.txt

# python
__pycache__/